.cabezera{
    background-color: skyblue;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo h1{
    margin:0;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}
.boton-info, .boton-contacto{
    border: none;
    padding: 3px 5px;
    margin-left: 10px;
    cursor: pointer;
}
.boton-info{
    background-color: white;
    color: black;
}
.boton-contacto{
    background-color: blue;
    color: white;
}
